.grid-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.table-container {
  width: 90%;
  display: block;
  border: 5px solid #F0D820;
  border-radius: 5px;
}
.table-container thead{
  position:relative;
  display: block;
  width:100%;
  overflow-y: scroll;
}
.table-container tbody{
  display: block; position:relative;
  width:100%; overflow-y:scroll;
  border-top: 1px solid rgba(0,0,0,0.2);
}
.table-container tr{
  width: 100%;
  display:flex;
}
.table-container td,.table-container th{
  flex-grow:2;
  display: block;
  padding: 1rem;
  word-wrap: break-word;
  text-align: left;
}
.large-column {
  width: 200px;
}
.small-column {
  width: 100px;
}
.grid-header-text {
  width: 90%;
  text-align: left;
  padding: 27px;
}
.table-container tbody tr:nth-child(2n){
  background-color: #F0E9B1;
}
.table-body{
  max-height: 65vh;
}
.table-heading {
  background-color: #F0D820;
}
button {
  background-color: #F0D820;
  border: none;
}
.search-input {
  padding: 10px;
  width: inherit;
  border-radius: 5px;
  outline: none;
  border: 2px solid #F0D820;
}
th button.sort-by {
  padding-right: 18px;
  position: relative;
  font-weight: 600;
  font-size: inherit;
  cursor: pointer;
  text-align: left;
}
button.sort-by:before,
button.sort-by:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}
button.sort-by:before {
  border-bottom-color: #666;
  margin-top: -9px;
}
button.sort-by:after {
  border-top-color: #666;
  margin-top: 1px;
}
