.loader-container {
    display: inline-block;
    margin-top: 200px;
    position: relative;
    width: 80px;
    height: 80px;
}
.loader-container div {
    position: absolute;
    border: 4px solid #F0D820;
    opacity: 1;
    border-radius: 50%;
    animation: loader-container 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader-container div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes loader-container {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
.loader-text {
    color: #F0D820;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;

}